[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-widget-tweaks = "*"
django-crispy-forms = "*"
django-import-export = "*"
django-filter = "*"
djangorestframework-filters = "*"
"kivymd-extensions.sweetalert" = "*"
django-collectionfield = "*"
pillow = "*"
gunicorn = "*"
"kivy-deps.angle" = "*"

[dev-packages]

[requires]
python_version = "3.10"
